.deployAppOpenShift-homePage{
    height:100vh;
    /* background-color:red; */
}

.deployAppOpenShift-mainPage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white; 
    height: 84%;
    gap: 10px;
    padding-top: 25px;
}

.deployAppOpenShift-mainPage h3{
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-size: medium;
}

.deployAppOpenShift-service-type{
    width: 1000px;
    display: flex;
    gap: 20px;
}

.deployAppOpenShift-Deployment-type{
    display: flex;
    gap: 73px;
    width: 1000px;
}

.deployAppOpenShift-App-Name{
    display: flex;
    gap: 59px;
    align-items: center;
    width: 1000px;
}

.deployAppOpenShift-App-Name h3{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.deployAppOpenShift-App-Name input {
    width: 30%;
    height: 35px;
    border: 2px solid black;
    border-radius: 9px;
}

.deployAppOpenShift-Image-Name{
    display: flex;
    gap: 42px;
    align-items: center;
    width: 1000px;
}
.deployAppOpenShift-Image-Name h3{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.deployAppOpenShift-Image-Name input{
    width: 30%;
    height: 35px;
    border: 2px solid black;
    border-radius: 9px;
}

.deployAppOpenShift-Port-Number{
    display: flex;
    gap: 113px;
    align-items: center;
    width: 1000px;
}

.deployAppOpenShift-Port-Number h3{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.deployAppOpenShift-Port-Number input{
    width: 30%;
    height: 35px;
    border: 2px solid black;
    border-radius: 9px;
}

.deployAppOpenShift-Pods-Number{
    display: flex;
    gap: 112px;
    align-items: center;
    width: 1000px;
}

.deployAppOpenShift-Pods-Number h3{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.deployAppOpenShift-Pods-Number input{
    width: 30%;
    height: 35px;
    border: 2px solid black;
    border-radius: 9px;
}

.deployAppOpenShift-Max-Unavailable {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 1000px;
    /* background-color: aquamarine; */
}

.deployAppOpenShift-Max-Unavailable input{
    width: 30%;
    height: 35px;
    border: 2px solid black;
    border-radius: 9px;
}
.deployAppOpenShift-Max-Unavailable h3{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.deployAppOpenShift-mainPage button {
    width: 10%;
    margin-top: 13px;
    height: 32px;
    background-color: #49aef6;
    border: black solid 3px;
    color: white;
    border-radius: 10px;
    border: 1px solid #000;
    background: #0D99FF;
    cursor: pointer;
  }


.deployAppOpenShift-mainPage button:hover{
    background-color: #0d99ff
}