.edit-deployAppOpenShift-homePage{
    height:100vh;
    /* background-color:red; */
}

.edit-deployAppOpenShift-mainPage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white; 
    height: 84%;
    gap: 10px;
    padding-top: 25px;
}

.edit-deployAppOpenShift-mainPage h3{
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-size: medium;
}

.edit-deployAppOpenShift-service-type{
    width: 1000px;
    display: flex;
    gap: 20px;
    font-size: large;
    font-family: sans-serif;
}

.edit-deployAppOpenShift-Deployment-type{
    display: flex;
    gap: 73px;
    width: 1000px;
}

.edit-deployAppOpenShift-App-Name{
    display: flex;
    gap: 59px;
    align-items: center;
    width: 1000px;
}

.edit-deployAppOpenShift-App-Name h3{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.edit-deployAppOpenShift-App-Name input {
    width: 30%;
    height: 35px;
    border: 2px solid black;
    border-radius: 9px;
}

.edit-deployAppOpenShift-Image-Name{
    display: flex;
    gap: 42px;
    align-items: center;
    width: 1000px;
}
.edit-deployAppOpenShift-Image-Name h3{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.edit-deployAppOpenShift-Image-Name input{
    width: 30%;
    height: 35px;
    border: 2px solid black;
    border-radius: 9px;
}

.edit-deployAppOpenShift-Port-Number{
    display: flex;
    gap: 113px;
    align-items: center;
    width: 1000px;
}

.edit-deployAppOpenShift-Port-Number h3{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.edit-deployAppOpenShift-Port-Number input{
    width: 30%;
    height: 35px;
    border: 2px solid black;
    border-radius: 9px;
}

.edit-deployAppOpenShift-Pods-Number{
    display: flex;
    gap: 112px;
    align-items: center;
    width: 1000px;
}

.edit-deployAppOpenShift-Pods-Number h3{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.edit-deployAppOpenShift-Pods-Number input{
    width: 30%;
    height: 35px;
    border: 2px solid black;
    border-radius: 9px;
}

.edit-deployAppOpenShift-Max-Unavailable {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 1000px;
    /* background-color: aquamarine; */
}

.edit-deployAppOpenShift-Max-Unavailable input{
    width: 30%;
    height: 35px;
    border: 2px solid black;
    border-radius: 9px;
}
.edit-deployAppOpenShift-Max-Unavailable h3{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.edit-deployAppOpenShift-mainPage button {
    width: 20%;
    margin-top: 13px;
    height: 43px;
    background-color: #49aef6;
    border: black solid 3px;
    color: white;
    border-radius: 10px;
    border: 1px solid #000;
    background: #0D99FF;
    cursor: pointer;
}


.edit-deployAppOpenShift-mainPage button:hover{
    background-color: #0d99ff
}
.page-info-openshift {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 477px;
    height: 389px;
    top: 170px;
    left: 768px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", "Source Han Sans CN", sans-serif;
    color: #000000;
    font-size: 18px;
    font-weight: normal;
    line-height: 29.045px;
    text-align: left;
    z-index: auto;
  }

.edit-OPenshiftLoader{
    /* background-color: #0d99ff; */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 13%;
    margin-left: 40%;
    width: 250px;
}